@font-face {
  font-family: "shanti";
  src: url('fonts/shanti-regular.ttf') format('truetype'), url('fonts/shanti-regular.svg') format('svg'), url('fonts/shanti-regular.woff') format('woff');
}

/* line 17, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_antiscroll.scss */
.antiscroll-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* line 7, ../scss/_antiscroll.scss */
.antiscroll-scrollbar {
  background: #679fd2;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
}

/* line 16, ../scss/_antiscroll.scss */
.antiscroll-scrollbar-shown {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 20, ../scss/_antiscroll.scss */
.antiscroll-scrollbar-horizontal {
  height: 7px;
  bottom: 2px;
  left: 0;
}

/* line 26, ../scss/_antiscroll.scss */
.antiscroll-scrollbar-vertical {
  width: 8px;
  margin-top: 2px;
  right: 0;
  top: 0;
}

/* line 33, ../scss/_antiscroll.scss */
.antiscroll-inner {
  overflow: scroll;
}

/* line 37, ../scss/_antiscroll.scss */
.antiscroll-inner::-webkit-scrollbar, .antiscroll-inner::scrollbar {
  width: 0;
  height: 0;
}

/** antiscroll **/
/* line 46, ../scss/_antiscroll.scss */
.box, .box .antiscroll-inner {
  width: 300px;
  height: 450px;
}

/* line 53, ../scss/_antiscroll.scss */
.box-wrap {
  margin-top: 8px;
}

/* line 54, ../scss/_antiscroll.scss */
.antiscroll-inner {
  overflow: auto;
}

/* line 7, ../scss/style.scss */
body {
  font-family: "shanti", sans-serif;
}

/* line 9, ../scss/style.scss */
#wrapper {
  width: 100%;
  height: 100%;
}

/* line 11, ../scss/style.scss */
#left {
  width: 300px;
  position: fixed;
  background: #fff;
  height: 100%;
  z-index: 9999;
  line-height: 18px;
  -webkit-box-shadow: #666666 0 0 10px;
  -moz-box-shadow: #666666 0 0 10px;
  box-shadow: #666666 0 0 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-290px);
  -moz-transform: translateX(-290px);
  -ms-transform: translateX(-290px);
  -o-transform: translateX(-290px);
  transform: translateX(-290px);
}

/* line 24, ../scss/style.scss */
#left ul, #left li {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

/* line 25, ../scss/style.scss */
#left li {
  list-style: none;
  display: inline;
}

/* line 26, ../scss/style.scss */
#left li:after {
  content: " - ";
  color: #999;
}

/* line 27, ../scss/style.scss */
#left li:last-child:after {
  content: "";
}

/* line 29, ../scss/style.scss */
#left li a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 2px;
  color: #999;
  text-decoration: none;
}
/* line 33, ../scss/style.scss */
#left li a.chosen {
  color: #679fd2;
}
/* line 35, ../scss/style.scss */
#left li a.active {
  color: #fff;
  background: #b3cfe8;
}

/* line 41, ../scss/style.scss */
.active #left {
  cursor: pointer;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-box-shadow: #333333 0 0 14px;
  -moz-box-shadow: #333333 0 0 14px;
  box-shadow: #333333 0 0 14px;
}

/* line 48, ../scss/style.scss */
#right {
  height: 100%;
  position: fixed;
  width: 100%;
  background: url("handle.png") 5px no-repeat;
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 57, ../scss/style.scss */
.active #right {
  background: none;
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}
/* line 62, ../scss/style.scss */
#right iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 67, ../scss/style.scss */
.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
  padding-left: 20px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}
/* line 79, ../scss/style.scss */
.cover:after {
  content: "";
}
/* line 83, ../scss/style.scss */
.active .cover {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 88, ../scss/style.scss */
.loading .cover:after {
  font-style: italic;
  font-size: 18px;
  content: "Loading..";
  color: #fff;
}

/* line 97, ../scss/style.scss */
.element {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 270px;
  margin: 0 15px;
  height: auto;
  border-bottom: 1px dotted #ccc;
}
/* line 104, ../scss/style.scss */
.element:hover {
  background: #b3cfe8;
}
/* line 108, ../scss/style.scss */
.element.current {
  background: #d1e2f1;
}

/* line 113, ../scss/style.scss */
.content {
  font-size: 12px;
  padding: 8px 6px;
  color: #777;
}
/* line 118, ../scss/style.scss */
.content .title {
  color: #333;
  margin-bottom: 6px;
}
/* line 123, ../scss/style.scss */
.content .description {
  font-size: .9em;
}

/* line 129, ../scss/style.scss */
.featured .title:after {
  font-size: 10px;
  margin-left: 10px;
  content: "featured";
  background: #ff9500;
  color: #fff;
  padding: 2px 5px;
  padding-top: 1px;
  border-radius: 2px;
}

/* line 141, ../scss/style.scss */
.loading .cover {
  background: rgba(155, 155, 155, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 146, ../scss/style.scss */
#sitename, #filters, #sort, .colophon {
  width: 270px;
  margin: 0 auto;
  clear: both;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 8px;
}

/* line 156, ../scss/style.scss */
#sitename {
  font-family: serif;
  font-size: 14px;
  font-style: italic;
  color: #333;
  font-weight: bold;
}

/* line 164, ../scss/style.scss */
#sort:before, #filters:before {
  font-size: 11px;
  color: #ff9500;
  float: left;
  display: block;
  margin-right: 8px;
  width: 30px;
}

/* line 166, ../scss/style.scss */
#filters:before {
  content: "filters";
}

/* line 168, ../scss/style.scss */
#sort:before {
  content: "sort";
}

/* line 170, ../scss/style.scss */
.colophon {
  width: 270px;
  font-size: 10px;
  color: #777;
  position: absolute;
  bottom: 0;
  left: 15px;
}

/* line 179, ../scss/style.scss */
.chosen {
  color: #679fd2;
}
